*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
   background-image: linear-gradient(to right,#042940, #dbf227, #D6D58E, #005C53 );
}

p{
    text-align: justify;
}
main{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
    height: 630px;
    padding: 25px;
    width: 600px;
    background-color: wheat;
    border-radius: 20px;
    box-shadow: #005C53;
    margin-right: 40px;
}

h1{
    display: flex;
    justify-content: center;
    color: #96621d;
}

h2{
    color: rgb(87, 166, 190);
}

@media (max-width: 831px) {
    main{
        width: 400px;
        height: 800px;
    }       
    
} 

@media (max-width: 360px) {
    main{
        width: 300px;
        padding: 40px;
        height: 800px;
        margin-top: 20px;
        padding-top: 50px;
    }
    p{
        font-size: 10px;
    }
    
}
@media (max-width: 320px){
    main{
        width: 150px;
        height: 550px;
        padding: 70px;
        text-align: center;
        font-size: 5px;
    }

    h1{
        justify-content: center;
    }
   
}


